<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 記事投稿 -->
  <form th:action="@{/top/article}" method="post">
    投稿者名：
    <input type="text" name="name"><br>
    投稿内容：<br>
    <textarea name="content" cols="40" rows="10"></textarea><br>
    <button>記事投稿</button>
  </form>
  <hr>

  <!-- 記事一覧 -->
  <span th:each="article : ${application.articleList}">
    投稿者名：
    <span th:text="${article.name}"></span><br>
    投稿内容：<br><br>
    <span th:text="${article.content}"></span><br><br>

    <!-- 記事とコメントを削除する -->
    <form th:action="@{/top/delete}" method="get">
      <input type="hidden" name="id" th:value="${article.id}">
      <button>記事削除</button>
    </form>
    <br>

    <!-- 記事の下に関連するコメントを表示する -->
    <span th:each="comment : ${article.commentList}">
      コメント者名：
      <span th:text="${comment.name}"></span><br>
      コメント内容：<br><br>
      <span th:text="${comment.content}"></span><br><br>
    </span>
    

    <!-- コメント投稿 -->
    <form th:action="@{/top/comment}" method="post">
      <input type="hidden" name="articleId" th:value="${article.id}">
      名前：<br>
      <input type="text" name="name"><br>
      コメント：<br>
      <textarea name="content" cols="40" rows="10"></textarea><br>
      <button>コメント投稿</button>
    </form>  
    <hr>
  </span>
</body>
</html>